<!-- <%# if @question.errors.any? %>
 <ul>
    <%# @question.errors.full_messages.each do |msg| %>
    <li><%#= msg %></li> 
    <%# end %>
  </ul>
<%# end %>  -->

<%= simple_form_for @question, html: { class: 'form-horizontal' } do |f| %>

  <%= f.input :title, label: "The Title",label_html: {style: "font-size: 9px"}, input_html: {style: "width: 90px"} %>
  <%= f.input :body %>
  <%= f.association :categories, as: :check_boxes %>
  <%= f.association :collaborators, as: :check_boxes, label_method: :full_name %>
  <%= f.submit class: "btn btn-primary" %> 
<% end %>

<!--   <div class="form-group">
    <%#= f.label :title %>
    <%#= f.text_field :title, class: "form-control" %>
  </div>
  <br>
  <div class="form-group">
    <%#= f.label :body %>
    <%#= f.text_area :body, class: "form-control" %>
  </div> -->

<!--   <div class="form-group">
    <%#= f.label :category_ids %> 
    <%#= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
  </div>
  <div class="form-group">
    <%#= f.label :collaboration_ids %> 
    <%#= f.collection_check_boxes :collaboration_ids, User.all, :id, :full_name %>
  </div>
  <br> -->
