<!DOCTYPE html>
<html>

<head>
  <title>AwesomeAnswers</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/" class="animated rubberBand">Home</a></li>
    <li role="presentation"><a href="/hello" class="animated bounce">Hello</a></li>
    <li role="presentation"><a href="/about" class="animated flash">About</a></li>
    <li role="presentation"><%= link_to "All Questions", questions_path %></li>
    <li role="presentation"><%= link_to "New Question", new_question_path %></li>
    <li role="presentation">
      <% if user_signed_in? %>
        Hello <%= current_user.first_name %>,
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      <% else %> 
        <%= link_to "Sign In", new_user_session_path %>
      <% end %>
    </li>
  </ul>
<br>
<%= flash[:notice] || flash[:alert] %>
<hr>
<%= yield %>
</body>
</html>
